<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
        <link href="stlyes.css">
	</head>
	<body>
		<h2>Hello</h2>
		<h6>Please select one of the options</h6>
            <div>
                <a href="/postUser">
                    <button title="button" type="button">Add users</button>
                </a>
                <a href="/users">
                    <button title="button" type="button">Get users</button>
                </a>
                <a href="/oneUser">
                    <button title="button" type="button">Get user</button>
                </a>
            </div>
	</body>
</html>
